{% extends 'index.html' %}
{% block title %}
    Cadastro - Usuários
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_logCad.css' ) }}">
{% endblock %}
{% block content %}

        <div class="container1" id="container1">
            <div class="form-container1 sign-in1">
                <form method="post" action="{{ url_for('users.register' ) }}">
                    <h1 style="margin-bottom: 19px;">Cadastro</h1>
                    <span>Forneça os detalhes requeridos</span >
                    <input type="name" placeholder="Login" for="name" name="nome">
                    <input type="password" placeholder="Senha" for="senha" name="senha">
                    <select name="tipo"  for="tipo_user">
                        <option value="">Tipo de Usuário</option>
                        <option value="admin">Administrador</option>
                        <option value="funcionario">Funcionário</option>
                    </select>
                    <button>Cadastrar</button>
                </form>
            </div>
            <div class="toggle-container1">
                <div class="toggle1">
                    <div class="toggle-panel1 toggle-right1">
                        <h1>Novo Usuário</h1>
                        <p>Informe os dados necessários para cadastrar um novo usuário</p>
                        <img class="image-index-list1" src="{{ url_for('static', filename='images/cad_image.svg') }}" alt="Imagem" >
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}

</body>
</html>