{% extends 'index.html' %}
{% block title %}
    Dados - Empréstimo
{% endblock %}

{% block content %}
    <div class="container_list container_list2" id="container_list">
        <div class="container_userd">
            <h1>Dados dos Empréstimos</h1>
            <h1 style="font-size: 20px;">{{mensagem}}</h1>
            <br>

            <div class="table-scroll-container">
                <table>
                    <thead>
                        <tr>
                            <th>Leitor</th>
                            <th>Livro</th>
                            <th>Foi Devolvido?</th>
                            <th>Valor</th>
                            <th>Data de Empréstimo</th>
                            <th>Data de Devolução</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in emprestimos %}
                            <tr>
                                <td>{{ emp.lei_nome }}</td>
                                <td>{{ emp.boo_titulo }}</td>
                                <td>
                                    {% if emp.len_devolvido == 0 %}
                                        Não
                                    {% else %}
                                        Sim
                                    {% endif %}
                                </td>
                                <td>{{ emp.len_valor }}</td>
                                <td>{{ emp.len_data_emprestimo }}</td>
                                <td>{{ emp.len_data_devolucao }}</td>
                                <td id="td-button">
                                    <button type="submit" id="editar">
                                        <a href="{{ url_for('lendings.editar_lending', id=emp.len_id) }}" style="text-decoration: none; color: white;">Editar</a>
                                    </button>
                                    <button type="submit" id="excluir">
                                        <a href="{{ url_for('lendings.excluir_lending', id=emp.len_id) }}" style="text-decoration: none; color: white;">Excluir</a>
                                    </button>
                                    <button class="devolver"><a href="{{ url_for('lendings.devolver', id=emp.len_id) }}" style="text-decoration: none; color: white;">Devolver</a></button>
                                </td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
