<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style_logCad.css">
    <title>Dados dos Livros</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/images/bluebooklog.png" alt="Logo do Sistema" id="logo-sistema">
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container_list" id="container_list">
            <div class="container_userd">
                <h1>Dados dos Livros</h1>
                <h1 style="font-size: 20px;">{{mensagem}}</h1>
                <br>

                <div class="table-scroll-container">

                    <table>
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Gênero</th>
                                <th>ISBN</th>
                                <th>Quant. Estoque</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                
                            
                            <tr>
                                <td>{{book.boo_titulo}}</td>
                                <td>{{book.boo_autor}}</td>
                                <td>{{book.boo_genero}}</td>
                                <td>{{book.boo_isbn}}</td>
                                <td>{{book.boo_quant_estoque}}</td>
                                <td id="td-button">
                                    <button type="submit" id="editar"><a href="{{ url_for('books.editar_book', id=book.boo_id) }}" style="text-decoration: none; color: white;">Editar</a></button>
                                    <button type="submit" id="excluir"><a href="{{ url_for('books.excluir_book', id=book.boo_id) }}" style="text-decoration: none; color: white;">Excluir</a></button>
                                </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 - Biblioteca Online - BlueBook. Todos os direitos reservados.</p>
    </footer>

    <script src="static/js_index.js"></script>
</body>

</html>