{% extends 'index.html' %}
{% block title %}
    Dados - Livros
{% endblock %}
    {% block content %}
        
    
        <div class="container_list container_list2" id="container_list">
            <div class="container_userd">
                <h1>Dados dos Livros</h1>
                <h1 style="font-size: 20px;">{{mensagem}}</h1>
                <br>

                <div class="table-scroll-container">

                    <table>
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Gênero</th>
                                <th>ISBN</th>
                                <th>Quant. Estoque</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                
                            
                            <tr>
                                <td>{{book.boo_titulo}}</td>
                                <td>{{book.boo_autor}}</td>
                                <td>{{book.boo_genero}}</td>
                                <td>{{book.boo_isbn}}</td>
                                <td>{{book.boo_quant_estoque}}</td>
                                <td id="td-button">
                                    <button type="submit" id="editar"><a href="{{ url_for('books.editar_book', id=book.boo_id) }}" style="text-decoration: none; color: white;">Editar</a></button>
                                    <button type="submit" id="excluir"><a href="{{ url_for('books.excluir_book', id=book.boo_id) }}" style="text-decoration: none; color: white;">Excluir</a></button>
                                </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}

</body>

</html>