{% extends 'index.html' %}
{% block title %}
    Editar - Empréstimos
{% endblock %}
    {% block content %}
    

        <div class="container_cadliv" id="container_cadliv">
                <form class="form" method="post" action="{{ url_for('lendings.editar_lending', id=emp.len_id ) }}">
                    <br>
                    <h1>Editar Empréstimos</h1>
                    <br>
                    <span>Insira os novos dados do Empréstimo
                    </span> <br>

                    <label class="label-input" for="nome">
                        <i class="fa-solid fa-user"></i>
                        
                        <select name="leitor">
                            <option value="{{emp.len_lei_id}}">{{emp.lei_nome}}</option>
                            {% for leitor in leitores %}
                                {% if leitor.lei_id == emp.len_lei_id %}
                                {% else %}
                                    <option value="{{leitor.lei_id}}">{{leitor.lei_nome}}</option>
                                {% endif %}
                                
                            {% endfor %}
                        </select>

                    </label>
                    
                    <label class="label-input" for="titulo">
                        <i class="fa-solid fa-heading"></i> 
                        <select name="livro">
                            <option value="{{emp.len_boo_id}}">{{emp.boo_titulo}}</option>
                            {% for book in books %}
                                {% if book.boo_id == emp.len_boo_id %}
                                    
                                {% else %}
                                    <option value="{{book.boo_id}}">{{book.boo_titulo}}</option>
                                {% endif %}
                                
                            {% endfor %}
                        </select>
                    </label>
                    
                    <label class="label-input" for="valor">
                        <i class="fa-solid fa-money-bill-trend-up"></i>
                        <input type="text" placeholder="R$ 0,00" for="valor" name="valor" value="{{emp.len_valor}}">
                    </label>
                    

                    <label class="label-input" for="data-devolucao">
                        <i class="fa-solid fa-calendar-days"></i>
                        <input type="date" name="data" for="data-devolucao" value="{{emp.len_data_devolucao}}">
                    </label>
                 
                    <button type="submit">Concluir</button>
                </form>
        </div>
    {% endblock %}
</body>
</html>
