<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="static/css/style_logCad.css">
    <title>Emprestimos</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="static/images/bluebooklog.png" alt="Logo do Sistema" id="logo-sistema">
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <div class="container_cadliv" id="container_cadliv">
                <form class="form" method="post" action="{{url_for('register_livros')}}">
                    <br>
                    <h1>Empréstimos</h1>
                    <br>
                    <span>Insira os dados pessoais e crie um novo leitor
                    </span> <br>

                    <label for="usuario">
                            <i class="fa-solid fa-user"></i>
                            <select id="usuario" name="usuario" required>
                                <option value="">Selecione o usuário</option>
                            </select>
                    </label><br> 
            
                    <label for="livro">
                        <i class="fa-solid fa-book"></i>
                          <select id="livro" name="livro" required>
                               <option value="">Selecione  o  livro</option>
                          </select>
                    </label><br>
        
                    <label for="data-devolucao">
                        <i class="fa-solid fa-calendar-days"></i>
                        <select id="data-devolucao" name="data-devolucao" required>
                          <option value="">Data de devolução</option>
                          <option value="7">7 dias</option>
                          <option value="15">15 dias</option>
                          <option value="30">30 dias</option>
                        </select>
                    </label><br> 

                    <label for="valor">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <input type="number" id="valor" name="valor" placeholder="Digite o valor" required>
                    </label>
                      
                    <button type="submit" class="butao_emprestimos">Registrar</button>
                </form>
        </div>

        <div class="container_cadliv" id="container_cadliv">
            <div class="container_user">
                <h1>Lista de Empréstimos</h1>

                <form method="POST" class="filter-form">
                    <div class="teste">
                        <div class="filter-group">
                            <label for="status">Filtrar:</label>
                            <select name="status" id="status">
                                <option value="Crescente">Recente - Antigo</option>
                                <option value="Decrescente">Antigo - Recente</option>
                            </select>

                            <button type="submit" class="butao_filtrar">Filtrar</button>
                        </div>

                    </div>
                                   
                </form>
                <div class="table-scroll-container-2">
                    <table>
                        <tbody>
                            {% for emprestimo in tb_emprestimos %}
                            <tr>
                                <td><a href="{{ url_for('dados_usuarios', emp_id=emprestimo.emp_id) }}">{{ emprestimo.emp_data_emprestimo}}</a></td>
                            </tr>
                           
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>         
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 - Biblioteca Online - BlueBook. Todos os direitos reservados.</p>
    </footer>
</body>

</html>




