<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% block style %}
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
    <title>{% block title %}
        Página Inicial
    {% endblock %}</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="/static/images/avatar3.jpg " id="user_avatar" alt="Avatar">
    
                <p id="user_infos">
                    <span class="item-description">
                        {{user.tipo}}
                        <!-- Usuário Admin ou Funcionário ? Pegar no banco  -->
                    </span>
                    <span class="item-description">
                        Usuário do sistema
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
               
                <li class="side-item {% if request.endpoint == 'index' %}active{% endif %} ">
                    <a href="{{url_for('index')}}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Página inicial
                        </span>
                    </a>
                </li>
                {% if user %} 
                    {% if user.tipo == "admin" %}
                        <li class="side-item {% if request.endpoint == 'users.register' %}active{% endif %} ">  
                            <a href="{{url_for('users.register')}}">
                                <i class="fa-solid fa-user"></i>
                                <span class="item-description">
                                    Adicionar Usuários
                                </span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}    

                <li class="side-item {% if request.endpoint == 'leitores.register_leitor' %}active{% endif %} ">
                    <a href="{{url_for('leitores.register_leitor')}}">
                        <i class="fa-solid fa-book-open-reader"></i>
                        <span class="item-description">
                            Adicionar Leitor
                        </span>
                    </a>
                </li>

                <li class="side-item {% if request.endpoint == 'books.register_book' %}active{% endif %} ">
                    <a href="{{url_for('books.register_book')}}">
                        <i class="fa-solid fa-book"></i>
                        <span class="item-description">
                            Adicionar Livro
                        </span>
                    </a>
                </li>

                <li class="side-item {% if request.endpoint == 'lendings.register_lending' %}active{% endif %} " >
                    <a href="{{url_for('lendings.register_lending')}}">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <span class="item-description">
                            Realizar Empréstimo
                        </span>
                    </a>
                </li>

                <li class="side-item {% if request.endpoint == 'listagem.listagens' %}active{% endif %} ">
                    <a href="{{url_for('listagem.listagens')}} ">
                        <i class="fa-solid fa-list"></i>
                        <span class="item-description">
                            Listagens
                        </span>
                    </a>
                </li>
                
                
                <li class="side-item {% if request.endpoint == 'leitores.dados_leitores' %}active{% endif %} ">
                    <a href="{{url_for('leitores.dados_leitores')}}">
                        <i class="fa-solid fa-users"></i>
                        <span class="item-description">
                          Dados - Usuários
                        </span>
                    </a>
                </li>

                <li class="side-item {% if request.endpoint == 'books.dados_livros' %}active{% endif %} ">
                    <a href="{{url_for('books.dados_livros')}}">
                        <i class="fa-solid fa-book-open"></i>
                        <span class="item-description">
                          Dados - Livros
                        </span>
                    </a>
                </li>

                <li class="side-item {% if request.endpoint == 'lendings.dados_emprestimos' %}active{% endif %} ">
                    <a href="{{url_for('lendings.dados_emprestimos')}}">
                        <i class="fa-solid fa-money-check"></i>
                        <span class="item-description">
                          Dados - Empréstimos
                        </span>
                    </a>
                </li>
                {% if user %} 
                    {% if user.tipo == "admin" %}
                        <li class="side-item {% if request.endpoint == 'listagem.logs' %}active{% endif %} ">
                            <a href="{{url_for('listagem.logs')}}">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <span class="item-description">
                                    Logs no sistema 
                                </span>
                            </a>
                        </li> 
                    {% endif %}
                {% endif %} 
            </ul>
           
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('users.logout' ) }}" style="text-decoration: none;">
                <button id="logout_btn">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="item-description">
                        Logout
                    </span>
                </button>
            </a>
        </div>
        
    </nav>

    <header>
        <div class="logo">
                <img src="/static/images/bluebooklog.png" alt="Logo">
        </div> 
    </header>
    <main>
        {% block content %}
            
        
        <div class="intro_cadliv">
            <h3>Novo Leitor</h3>
            <br>
            <p>Use a função "Novo Leitor" para cadastrar um novo Usuário</p>
            <img src="{{ url_for('static', filename='images/index_Nu.svg') }}" alt="Imagem" class="New_user_image">
            <br>
            <a href="{{ url_for('leitores.register_leitor' ) }}" class="button_cadliv"><button>Entrar</button></a>
        </div>

        <div class="intro_cadliv">
            <h3>Novo Livro</h3>
            <br>
            <p>Use a função "Novo Livro" para cadastrar um novo Livro</p>
            <img class="image-index_NL" src="{{ url_for('static', filename='images/index_NL.svg') }}" alt="Imagem" class="New_user_image">
            <br>
            <a href="{{ url_for('books.register_book' ) }}" class="button_cadliv"><button>Entrar</button></a>
        </div>

        <div class="intro_cadliv">
            <h3>Empréstimo</h3>
            <br>
            <p style="font-size: 13.5px;">Use a função "Empréstimo" para cadastrar um novo Empréstimo</p>
            <img class="image-index_EP" src="{{ url_for('static', filename='images/index_EP.svg') }}" alt="Imagem" class="New_user_image">
            <br>
            <a href="{{ url_for('lendings.register_lending' ) }}" class="button_cadliv"><button>Entrar</button></a>
        </div>

        {% if user %} 
            {% if user.tipo == "admin" %}
                <div class="intro_cadliv">
                    <h3>Logs</h3>
                    <br>
                    <p>Use a função "Logs" para visualizar os logs no Sistema</p>
                    <img class="image-index_Lg" src="{{ url_for('static', filename='images/index-LG.svg') }}" alt="Imagem" class="New_user_image">
                    <br>
                    <a href="{{ url_for('listagem.logs' ) }}" class="button_cadliv"><button>Entrar</button></a>
                </div>
            {% endif %}
        {% endif %}             
        {% endblock %}
    </main>

    <script>
        document.getElementById('open_btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('open-sidebar');
        });
    </script>
</body>
</html>