{% extends 'index.html' %}
    {% block title %}
        Cadastro - Empréstimo
    {% endblock %}
    {% block content %}
        <div class="container_cadliv" id="container_cadliv">
                <form class="form" method="post" action="#">
                    <br>
                    <h1>Empréstimos</h1>
                    <br>
                    <span style="margin-bottom:8px;">Insira os dados pessoais e crie um novo leitor
                    </span>

                    <label for="usuario" style="margin-bottom:18px;">
                            <i class="fa-solid fa-user"></i>
                            <select id="usuario" name="usuario" required>
                                <option value="">Selecione o usuário</option>
                                {% for leitor in consulta_leitores %}
                                    <option value="{{leitor.lei_id}}">{{leitor.lei_nome}}</option>
                                {% endfor %}
                            </select>
                    </label> 
            
                    <label for="livro" style="margin-bottom:18px;">
                        <i class="fa-solid fa-book"></i>
                          <select id="livro" name="livro" required>
                               <option value="">Selecione  o  livro</option>
                               {% for book in consulta_livros %}
                                    <option value="{{book.boo_id}}">{{book.boo_titulo}}</option>
                                {% endfor %}
                          </select>
                    </label>
        
                    <label for="data-devolucao" style="margin-bottom:18px;">
                        <i class="fa-solid fa-calendar-days"></i>
                        <select id="data-devolucao" name="devolucao" required>
                          <option value="">Data de devolução</option>
                          <option value="7">7 dias</option>
                          <option value="15">15 dias</option>
                          <option value="30">30 dias</option>
                        </select>
                    </label>

                    <label for="valor">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        <input type="number" id="valor" name="valor" placeholder="Digite o valor" required>
                    </label>
                      
                    <button type="submit" class="butao_emprestimos">Registrar</button>
                </form>
        </div>

        <div class="container_cadliv" id="container_cadliv">
            <div class="container_user">
                <h1>Lista de Empréstimos <a href="{{ url_for('lendings.dados_emprestimos' ) }}" style="margin-left: 3px;">Detalhar</a></h1>

                <form method="POST" class="filter-form">
                    <div class="teste">
                        <div class="filter-group">
                            <label for="status">Filtrar:</label>
                            <select name="status" id="status">
                                <option value="">Recente - Antigo</option>
                                <option value="desc">Antigo - Recente</option>
                            </select>

                            <button type="submit" class="butao_filtrar">Filtrar</button>
                        </div>

                    </div>
                                   
                </form>
                <div class="table-scroll-container-2">
                    <table>
                        <tbody>
                            {% for emprestimo in emprestimos %}
                            <tr>
                                <td id="td-lending"> Data de Empréstimo: {{ emprestimo.len_data_emprestimo}} | Leitor: {{emprestimo.lei_nome}} </td>
                            </tr>
                           
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>         
            </div>
        </div>
    {% endblock %}
</body>

</html>




