{% extends 'index.html' %}
    {% block title %}
        Listagem - Dois
    {% endblock %}
    {% block content %}

        <div  class="container_list container_list2" id="container_list">
            <div class="container_userd">
                <h1 style="font-size: 20px;">Usuários com empréstimos acima de R$100,00</h1>
                <form method="POST" class="form">  

                    <div class="teste">

                        <div style="text-align: center; margin-top:10px;" class="filter-list">
                            <label for="">Selecione o período: </label>
                            <label for="">Data inicial</label>
                            <input type="date" name="data1">
                            <label for="">Data final</label>
                            <input type="date" name="data2">

                            <button type="submit" class="butao_filtrar">Filtrar</button>
                        </div>

                 </div> 
                                   
                </form>
                <div class="table-scroll-container-2">
                    <table>
                        <tbody>
                            <!-- {% for usuario in usuarios %} -->
                            <tr>
                                <!-- <td>Usuário: {{ usuario.use_nome}} | Valor: {{usuario.soma}}</td> -->
                            </tr>
                           
                            <!-- {% endfor %} -->
                        </tbody>
                    </table> 

                </div>                
            </div>
        </div>
    
    {% endblock %}  
</body>

</html>




