{% extends 'index.html' %}
    {% block title %}
        Listagem - Três
    {% endblock %}
    {% block content %}
    

        <div  class="container_list container_list2" id="container_list">
            <div class="container_userd">
                <h1 style="font-size: 20px;">Top 10 livros mais pedidos</h1>
                <form method="POST" class="form">  

                    <div class="teste">

                        <div  style="text-align: center; margin-top:5px;" class="filter-list">
                            <label for="">Nos últimos:</label>
                            <select name="filtro_dias" >
                                <option value="7">7 dias</option>
                                <option value="30">30 dias</option>
                                <option value="60">60 dias</option>
                                <option value="90">90 dias</option>
                            </select>
                           
                            <button type="submit" class="butao_filtrar">Filtrar</button>
                        </div>

                 </div> 
                                   
                </form>
                <div class="table-scroll-container-2">
                    <table>
                        <tbody>
                             {% for livro in livros %} 
                            <tr>
                                <td>Livro: {{livro.boo_titulo}} | Quantidade Emprestada: {{livro.qnt_emprestimos }}</td> 
                            </tr>
                             {% endfor %} 
                        </tbody>
                    </table> 

                </div>                
            </div>
        </div>
    
    {% endblock %}
</body>

</html>




