<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style_logCad.css">
    <title>Listagem - Tres</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/images/bluebooklog.png" alt="Logo do Sistema" id="logo-sistema">
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>

            </ul>
        </nav>
    </header>

    <main>

        <div  class="container_list" id="container_list">
            <div class="container_userd">
                <h1 style="font-size: 20px;">Top 10 livros mais pedidos</h1>
                <form method="POST" class="form">  

                    <div class="teste">

                        <div  style="text-align: center; margin-top:5px;" class="filter-list">
                            <label for="">Nos últimos:</label>
                            <select name="filtro_dias" >
                                <option value="7">7 dias</option>
                                <option value="30">30 dias</option>
                                <option value="60">60 dias</option>
                                <option value="90">90 dias</option>
                            </select>
                           
                            <button type="submit" class="butao_filtrar">Filtrar</button>
                        </div>

                 </div> 
                                   
                </form>
                <div class="table-scroll-container-2">
                    <table>
                        <tbody>
                            {% for livro in livros %}
                            <tr>
                                <td>Livro: {{livro.boo_titulo}} | Quantidade Emprestada: {{livro.qnt_emprestimos }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 

                </div>                
            </div>
        </div>
    
    </main>
    
    <footer>
        <p>&copy; 2024 - Biblioteca Online - BlueBook. Todos os direitos reservados.</p>
    </footer>

    <script src="static/js_index.js"></script>
</body>

</html>




