{% extends 'index.html' %}
    {% block title %}
        Listagem - Um
    {% endblock %}
    {% block content %}
        
    
        <div  class="container_list container_list2" id="container_list">
            <div class="container_userd" >
                <h1 style="font-size: 20px;">Total de empréstimos em reais por usuário:</h1>
                <form method="POST" class="form">  

                    <div class="teste">

                        <div class="filter-list">
                            <label for="">Selecione o usuario:</label>
                            <select name="usuario" >
                                <option value=""></option>
                                    <!-- {% for usuario in consulta_usuarios %} -->
                                        <!-- <option value="{{usuario.use_id}}">{{usuario.use_nome}}</option> -->
                                    <!-- {% endfor %} -->
                            </select>

                            <label for="">Data inicial:</label>
                            <input type="date" name="data1">
                            <label for="">Data final:</label>
                            <input type="date" name="data2">

                            <button type="submit" class="butao_filtrar">Filtrar</button>
                        </div>

                 </div> 
                                   
                </form>
                <div class="table-scroll-container-2">
                    <table>
                        <tbody>
                            <!-- {% for emp in total_emprestimos %} -->
                            <tr>
                                <!-- <td>{{ emp.use_nome }}: {{emp.soma}}</td> -->
                            </tr>
                           
                            <!-- {% endfor %} -->
                        </tbody>
                    </table> 
                </div>                
            </div>
        </div>
    {% endblock %}
</body>

</html>




