<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style_logCad.css">
    <title> Login | Cadastro</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Cadastro</h1>
                <div class="static-div">
                    
                </div>
                <span>Preencha os dados e cadstre um novo user</span>
                <input type="email" placeholder="Email">
                <input type="senha" placeholder="Senha">
                <select name="tipo_admin" >
                    <option value="Admin">Administrador </option>
                    <option value="Funcionario">Funcionário</option>
                </select>
                <button>Cadastrar</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form>
                <h1>Login</h1>
                <div class="static-div"> </div>
                <span>Para logar, insira os dados abaixo</span >
                <input type="email" placeholder="Email">
                <input type="senha" placeholder="Senha">
                <button>Entrar</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem vindo ao Bluebook!</h1>
                    <p>Para efetuar o login, clique no botão abaixo</p>
                    <button class="hidden" id="login">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bem vindo de volta! </h1>
                    <p>Para efetuar um novo cadastro, clique no botão abaixo</p>
                    <button class="hidden" id="register">Cadastro</button>
                </div>
            </div>
        </div>
    </div>

    <script src="static\js\js_logcad.js"></script>
</body>

</html>
