{% extends 'index.html' %}
{% block title %}
    Logs do Sistema
{% endblock %}
{% block content %}

        <div class="container_list container_list2" id="container_list">
            <div class="container_userd">
                <h1>Logs no Sistema</h1>
                <h1 style="font-size: 20px;">{{mensagem}}</h1>
                <br>

                <div class="table-scroll-container">

                    <table>
                        <thead>
                            <tr>
                                <th>Empréstimo</th>
                                <th>Operação</th>    
                                <th>Leitor</th>
                                <th>Funcionário</th>
                                <th>Data | Horário</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                             <tr>
                                <td>{{log.log_len_id}}</td>
                                <td>{{log.log_operacao}}</td>
                                <td>{{log.lei_nome}}</td>
                                <td>{{log.log_usuario}}</td>
                                <td>{{log.log_data_hora}}</td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
{% endblock %}

</body>

</html>