{% extends 'index.html' %}
    {% block title %}
        Listagens
    {% endblock %}
    {% block content %}
        
    
        <div class="intro_cadliv">
            <h3>Empréstimos em Real</h3>
            <br>
            <p>Use a função "Empréstimos em Real" para detalhar os empréstimos de cada leitor em reais</p>
            <img class="image-index-list" src="{{ url_for('static', filename='images/index-list.svg') }}" alt="Imagem" >
            <br>

            <a href="{{url_for('listagem.filtro1')}}"><button>Entrar</button></a>
        </div>

        <div class="intro_cadliv">
            <h3>Empréstimos acima de R$100,00</h3>
            <br>
            <p>Use a função "Empréstimos acima de R$100,00" para filtrar os empréstimos dos leitores</p>
            <img class="image-index-list" src="{{ url_for('static', filename='images/index-list.svg') }}" alt="Imagem" >
            <br>
            <a href="{{url_for('listagem.filtro2')}}"><button>Entrar</button></a>
        </div>

        <div class="intro_cadliv">
            <h3>Top 10 Livros mais pedidos</h3>
            <br>
            <p>Use a função "Top 10 livros mais pedidos" para ranquear os melhores para os leitores</p>
            <img class="image-index-list" src="{{ url_for('static', filename='images/index-list.svg') }}" alt="Imagem" >
            <br>
            <a href="{{url_for('listagem.filtro3')}}"><button>Entrar</button></a>
        </div>

        <div class="intro_cadliv">
            <h3>Livros não foram emprestados</h3>
            <br>
            <p>Use a função "Livros não foram emprestados" para filtrar os piores para os leitores</p>
            <img class="image-index-list" src="{{ url_for('static', filename='images/index-list.svg') }}" alt="Imagem" >
            <br>
            <a href="{{url_for('listagem.filtro4')}}"><button>Entrar</button></a>
        </div>

    {% endblock %}
</body>
</html>