@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #ffff;
    padding: 10px 20px; /* Padding ajustado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px; /* Altura levemente aumentada */
}

header h1 {
    font-size: 24px; /* Tamanho do título ajustado */
    font-weight: 600;
    margin-left: 20px; /* Ajuste de margem */
}

nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; /* Mantém os itens na mesma linha */
}

nav ul li i {
    color: #000; /* Cor preta para o ícone */
}

li p{
    font-size: 14px;
    margin-left: 5px ;
}

.logo img {
    width: 200px; /* Aumentado o tamanho da logo */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
}

header .logo {
    text-align: right;
    margin: 0; /* Remove margens extras */
}



main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.intro_cadliv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 305px;
    min-height: 200px;
    width: 100%;
}

.intro h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #512da8;
}

.intro p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
}

.intro_cadliv p{
    font-size: 14px;
    margin-bottom: 15px;

}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.New_user_image {
    max-width: 156px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    margin-right: 30px;
    
}

.image-index_NL {
    max-width: 233px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
   
}

.image-index_EP {
    max-width: 231px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    margin-right: 30px;
}

button {
    background-color: #279ce4;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #086aa7;
}

footer {
    background-color: #279ce4;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}
